/*
* COLORS:
* orange - #f8bb06
* black - #171717
* dark grey - #585858
* light grey - #c8c8c8
*/
body, html, form{
	margin: 0px;
	padding: 0px;
}

body, html{
	background-image: url('../images/bg3.jpg');
	background-repeat: no-repeat;
	background-color: #cbcbcb;
	background-size: 100% auto;
	background-attachment: fixed;
	font-size: 18px;
	height: 100%;
	font-family: Arial;
}

p{
	text-align: justify;
}

input, textarea, select{
	border: solid 1px transparent;
	background-color: #171717;
	outline: none;
	padding: 3px;
	margin: 1px;
	font-size: 18px;
	color: #c8c8c8;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus{
	border: solid 1px #f8bb06;
}
label{
	display: inline-block;
	width: 100px;
}

a{
	text-decoration: underline;
	color: #171717;
}
a.light{
	color: #c8c8c8;
}
a:hover{
	color: #f8bb06;
}
a.exception{
	text-decoration: none;
}
a.line:hover{
	color: #f8bb06;
	text-shadow: -1px 0 #171717, 0 1px #171717, 1px 0 #171717, 0 -1px #171717;
}
a.selected{
	color: #f8bb06;
}

table{
	width: 100%;
	padding: 0px;
	margin: 0px;
}
table.center{
	text-align: center;
}

#main
{
	width: 76.9230769%;
	min-width: 400px;
	height: 100%;
	margin: 0px auto;
	position: relative;
	overflow: visible;
}
	#side{
		position: fixed;
		width: 16.9230769%;
		height: 100%;
		float: left;
	}
		#search{
			position: relative;
			background-color: #171717;
			width: 100%;
			height: 50px;
			z-index: 2;
		}
			#search-box{
				position: relative;
				background-color: #585858;
				width: 80%;
				height: 22px;
				color: #f8bb06;
				margin: 10px 8.181818%;
			}
			#search-icon{
				position: absolute;
				left: 10%;
				top: 16px;
			}
		
		#posters-film{
				position: absolute;
				width: 100%;
				height: auto;
				top: 50px;
				bottom: 0px;
			}	
			#posters-body{
				position: relative;
				background-image: url('../images/film_tile.png');
				background-size: 100% auto;
				background-repeat: repeat-y;
			}
				#posters{
					position: relative;
					width: 68.181818181%;
					margin: auto;
				}
					.poster-item{
						width: 93.333333333%;
						position: relative;
						padding: 2px 3.333333333%;
					}
					.poster-item img{
						width: 100%;
					}
					.poster-item img.opacity{
						opacity: 0.3;
					}
		
	#body{
		position: relative;
		left: 23.4042553%;
		width: 76.5957447%;
		min-height: 100%;
		overflow: hidden;
		float: left;
	}
		#menu{
			position: absolute;
			left: 11.111111%;
			top: 50px;
			bottom: 35px;
			right: 0px;
			background-color: #171717;
			z-index: 3;
		}
			#menu>div{
				padding: 10px;
			}
			#menu img{
				width: 100%;
			}
			.cinema-place{
				position: absolute;
				overflow: hidden;
				z-index: 4;
			}
				.cinema-point{
					width: 20px;
					height:20px;
					background-image: url('../images/cinema_point.png');
					float: left;
				}
				.cinema-name{
					float: left;
				}
			.bus-body{
				overflow: hidden;
				clear: both;
			}
				.bus{
					padding: 0px 10px;
					float: left;
				}
		
		#header{
			position: absolute;
			right: 0px;
			top: 0px;
			left: 11.111111%;
			overflow:hidden;
			height: 50px;
			font-size: 18px;
			background-color: rgba(23, 23, 23, 0.9);
		}
			#header a{
				color: #f8bb06;
				text-decoration: none;
			}
			#header a:hover{
				text-decoration: underline;
			}
			#header-logo{
				float: left;
				padding: 8px 28px 8px 8px;
			}
				#header-logo img{
					width: 33px;
				}
			#header-menu{
				overflow: hidden;
				float: left;
			}
				.header-menu-item{
					float: left;
					padding: 14px 15px;
					color: #f8bb06;
				}
			#header-cinema{
				overflow: hidden;
				float: right;
				cursor: pointer;
			}
		
		#content{
			padding: 80px 0px 65px 11.111111%;	
		}
	
		#footer {
			position: absolute;
			right: 0px;
			bottom: 0px;
			left: 11.111111%;
			height: 35px;
			background-color: rgba(23, 23, 23, 0.9);
			color: #c8c8c8;
			font-size: 12px;
		}
		#footer a{
			text-decoration: none;
			color: #c8c8c8;
		}
		#footer a:hover{
			text-decoration: underline;
		}

.title1{
	border-bottom: solid 1px #171717;
	font-size: 42px;
	text-align: center;
	margin: 0px 0px 20px 0px;
}
.title3{
	font-size: 28px;
	text-align: center;
}

.font-border{
	color: #f8bb06;
	text-shadow: -1px 0 #171717, 0 1px #171717, 1px 0 #171717, 0 -1px #171717;
}
.info-label{
	color: #585858;
	font-size: 14px;
	overflow: hidden;
}
	.info-part{
		float: left;
		padding: 0px 10px;
	}

.highlight-panel{
	overflow: hidden;
	background-color: rgba(88, 88, 88, 0.3);
}


.custom-button{
	background-color: #171717;
	margin: 8px 0px;
}
	.custom-button a{
		display: block;
		text-decoration: none;
		padding: 8px 16px;
		color: #c8c8c8;
	}
	.custom-button a:hover{
		color: #f8bb06;
	}
.custom-button-right{
	clear: right;
	float: right;
}
.custom-button-left{
	clear: left;
	float: left;
}
.custom-table{
	padding: 20px 0px 0px 0px;
	overflow: visible;
}
.custom-row{
	position: relative;
	overflow: visible;
	width: 100%;
	height: 41px;
}
	.custom-subrow{
		position: relative;
		float: left;
		width: 88.8888%;
		height: 100%;
	}

.custom-column{
	float: left;
}
	.custom-column>div{
		padding: 10px 5px;
	}

.underline-dark{
	border-bottom: solid 1px #585858;
}

.prepare-center{
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.out-center{
	display:table-cell;
	vertical-align: middle;
	text-align: center;
	margin: 0px;
	padding: 0px;
	position: relative;
	overflow: visible;
}
.in-center{
	position: relative;
	display: inline-block;
	overflow: hidden;
}
.out-center-x{
	position: relative;
	float: left;
	left: 50%;
	overflow: visible;
	clear: both;
}
.in-center-x{
	position: relative;
	float: left;
	right: 50%;
	overflow: visible;
}
.out-center-y{
	position: relative;
	height: 100%;
	top: 50%;
}
.in-center-y{
	position: relative;
	bottom: 50%;
	overflow: hidden;
}